
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(29, 29, 29);
  color: white;
  margin: 0px 5px;
}
.title {
  font-size: 30px;
  font-weight: bold;
}
.todo-grid,
.input-grid {
  display: grid;
  grid-template-columns: 220px 140px 100px;
  column-gap: 20px;
  row-gap: 15px;
  align-items: center;
  word-wrap: break-word;
}
.input-grid {
  margin-bottom: 20px;
}
.todo-input,
.date-input {
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
}
.date-input:hover {
  cursor: pointer;
}
.add-button {
  background-color: rgb(0, 255, 0);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  padding: 8px;
}
.add-button:hover {
  opacity: 0.6;
}
.delete-button {
  background-color: red;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 8px;
}
.delete-button:hover {
  opacity: 0.6;
}
.todo-name-div {
  font-size: 20px;
}
.todo-date-div {
  font-size: 18px;
}
.flex-container {
  display: flex;
  flex-direction: column;
  width: min-content;
}